@page
@model steam_server_command_center.Pages.ProjectZomboid.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ProjectZomboidConfiguration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.ServerRoot" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.ServerRoot" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.ServerRoot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.AdminPassword" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.AdminPassword" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.AdminPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.ServerHome" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.ServerHome" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.ServerHome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.ServerName" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.ServerName" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.ServerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.ConfigFileLocation" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.ConfigFileLocation" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.ConfigFileLocation" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.PVP" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.PVP)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.PauseEmpty" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.PauseEmpty)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.GlobalChat" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.GlobalChat)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.ChatStreams" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.ChatStreams" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.ChatStreams" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.Open" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.Open)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.ServerWelcomeMessage" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.ServerWelcomeMessage" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.ServerWelcomeMessage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AutoCreateUserInWhiteList" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AutoCreateUserInWhiteList)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.DisplayUserName" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.DisplayUserName)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.ShowFirstAndLastName" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.ShowFirstAndLastName)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.SpawnPoint" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.SpawnPoint" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.SpawnPoint" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.SafetySystem" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.SafetySystem)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.ShowSafety" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.ShowSafety)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.SafetyToggleTimer" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.SafetyToggleTimer" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.SafetyToggleTimer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.SafetyCooldownTimer" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.SafetyCooldownTimer" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.SafetyCooldownTimer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.SpawnItems" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.SpawnItems" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.SpawnItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.DefaultPort" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.DefaultPort" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.DefaultPort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.UDPPort" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.UDPPort" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.UDPPort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.ResetID" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.ResetID" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.ResetID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.Mods" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.Mods" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.Mods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.Map" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.Map" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.Map" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.DoLuaChecksum" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.DoLuaChecksum)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.DenyLoginOnOverloadedServer" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.DenyLoginOnOverloadedServer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.Public" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.Public)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.PublicName" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.PublicName" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.PublicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.PublicDescription" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.PublicDescription" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.PublicDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.MaxPlayers" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.MaxPlayers" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.MaxPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.PingLimit" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.PingLimit" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.PingLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.HoursForLootRespawn" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.HoursForLootRespawn" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.HoursForLootRespawn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.MaxItemsForLootRespawn" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.MaxItemsForLootRespawn" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.MaxItemsForLootRespawn" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.ConstructionPreventsLootRespawn" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.ConstructionPreventsLootRespawn)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.DropOffWhiteListAfterDeath" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.DropOffWhiteListAfterDeath)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.NoFire" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.NoFire)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AnnounceDeath" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AnnounceDeath)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.MinutesPerPage" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.MinutesPerPage" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.MinutesPerPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.SaveWorldEveryMinutes" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.SaveWorldEveryMinutes" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.SaveWorldEveryMinutes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.PlayerSafehouse" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.PlayerSafehouse)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AdminSafehouse" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AdminSafehouse)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.SafehouseAllowTrepass" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.SafehouseAllowTrepass)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.SafehouseAllowFire" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.SafehouseAllowFire)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.SafehouseAllowLoot" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.SafehouseAllowLoot)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.SafehouseAllowRespawn" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.SafehouseAllowRespawn)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.SafehouseDaySurvivedToClaim" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.SafehouseDaySurvivedToClaim" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.SafehouseDaySurvivedToClaim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.SafeHouseRemovalTime" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.SafeHouseRemovalTime" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.SafeHouseRemovalTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.SafehouseAllowNonResidential" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.SafehouseAllowNonResidential)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AllowDestructionBySledgehammer" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AllowDestructionBySledgehammer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.SledgehammerOnlyInSafehouse" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.SledgehammerOnlyInSafehouse)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.KickFastPlayers" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.KickFastPlayers)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.ServerPlayerID" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.ServerPlayerID" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.ServerPlayerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.RCONPort" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.RCONPort" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.RCONPort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.RCONPassword" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.RCONPassword" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.RCONPassword" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.DiscordEnable" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.DiscordEnable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.DiscordToken" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.DiscordToken" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.DiscordToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.DiscordChannel" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.DiscordChannel" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.DiscordChannel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.DiscordChannelID" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.DiscordChannelID" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.DiscordChannelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.Password" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.Password" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.MaxAccountsPerUser" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.MaxAccountsPerUser" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.MaxAccountsPerUser" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AllowCoop" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AllowCoop)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.SleepAllowed" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.SleepAllowed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.SleepNeeded" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.SleepNeeded)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.KnockedDownAllowed" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.KnockedDownAllowed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.SneakModeHideFromOtherPlayers" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.SneakModeHideFromOtherPlayers)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.WorkshopItems" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.WorkshopItems" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.WorkshopItems" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.SteamScoreboard" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.SteamScoreboard)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.SteamVAC" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.SteamVAC)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.UPnP" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.UPnP)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.VoiceEnable" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.VoiceEnable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.VoiceMinDistance" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.VoiceMinDistance" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.VoiceMinDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.VoiceMaxDistance" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.VoiceMaxDistance" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.VoiceMaxDistance" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.Voice3D" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.Voice3D)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.SpeedLimit" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.SpeedLimit" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.SpeedLimit" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.LoginQueueEnabled" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.LoginQueueEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.LoginQueueConnectTimeout" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.LoginQueueConnectTimeout" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.LoginQueueConnectTimeout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.server_browser_announced_ip" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.server_browser_announced_ip" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.server_browser_announced_ip" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.PlayerRespawnWithSelf" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.PlayerRespawnWithSelf)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.PlayerRespawnWithOther" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.PlayerRespawnWithOther)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.FastForwardMultiplier" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.FastForwardMultiplier" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.FastForwardMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.DisableSafehouseWhenPlayerConnected" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.DisableSafehouseWhenPlayerConnected)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.Faction" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.Faction)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.FactionDaySurvivedToCreate" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.FactionDaySurvivedToCreate" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.FactionDaySurvivedToCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.FactionPlayersRequiredForTag" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.FactionPlayersRequiredForTag" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.FactionPlayersRequiredForTag" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.DisableRadioStaff" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.DisableRadioStaff)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.DisableRadioAdmin" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.DisableRadioAdmin)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.DisableRadioGM" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.DisableRadioGM)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.DisableRadioOverseer" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.DisableRadioOverseer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.DisableRadioModerator" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.DisableRadioModerator)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.DisableRadioInvisible" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.DisableRadioInvisible)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.ClientCommandFilter" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.ClientCommandFilter" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.ClientCommandFilter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.ClientActionLogs" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.ClientActionLogs" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.ClientActionLogs" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.PerkLogs" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.PerkLogs)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.ItemNumbersLimitPerContainer" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.ItemNumbersLimitPerContainer" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.ItemNumbersLimitPerContainer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.BloodSplatLifespanDays" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.BloodSplatLifespanDays" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.BloodSplatLifespanDays" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AllowNonAsciiUsername" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AllowNonAsciiUsername)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.BanKickGlobalSound" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.BanKickGlobalSound)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.RemovePlayerCorpsesOnCorpseRemoval" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.RemovePlayerCorpsesOnCorpseRemoval)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.TrashDeleteAll" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.TrashDeleteAll)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.PVPMeleeWhileHitReaction" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.PVPMeleeWhileHitReaction)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.MouseOverToSeeDisplayName" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.MouseOverToSeeDisplayName)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.HidePlayersBehindYou" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.HidePlayersBehindYou)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.PVPMeleeDamageModifier" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.PVPMeleeDamageModifier" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.PVPMeleeDamageModifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.PVPFirearmDamageModifier" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.PVPFirearmDamageModifier" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.PVPFirearmDamageModifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.CarEngineAttractionModifier" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.CarEngineAttractionModifier" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.CarEngineAttractionModifier" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.PlayerBumpPlayer" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.PlayerBumpPlayer)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.MapRemotePlayerVisibility" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.MapRemotePlayerVisibility" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.MapRemotePlayerVisibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.BackupsCount" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.BackupsCount" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.BackupsCount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.BackupsOnStart" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.BackupsOnStart)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.BackupsOnVersionChange" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.BackupsOnVersionChange)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.BackupsPeriod" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.BackupsPeriod" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.BackupsPeriod" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType1" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType1)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType2" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType2)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType3" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType3)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType4" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType4)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType6" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType6)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType7" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType7)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType8" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType8)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType9" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType9)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType10" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType10)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType11" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType11)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType12" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType12)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType13" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType13)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType14" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType14)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType15" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType15)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType16" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType16)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType17" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType17)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType18" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType18)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType19" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType19)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType20" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType20)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType21" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType21)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType22" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType22)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType23" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType23)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType24" /> @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration.AntiCheatProtectionType24)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType2ThresholdMultiplier" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType2ThresholdMultiplier" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.AntiCheatProtectionType2ThresholdMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType3ThresholdMultiplier" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType3ThresholdMultiplier" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.AntiCheatProtectionType3ThresholdMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType4ThresholdMultiplier" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType4ThresholdMultiplier" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.AntiCheatProtectionType4ThresholdMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType9ThresholdMultiplier" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType9ThresholdMultiplier" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.AntiCheatProtectionType9ThresholdMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType15ThresholdMultiplier" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType15ThresholdMultiplier" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.AntiCheatProtectionType15ThresholdMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType20ThresholdMultiplier" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType20ThresholdMultiplier" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.AntiCheatProtectionType20ThresholdMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType22ThresholdMultiplier" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType22ThresholdMultiplier" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.AntiCheatProtectionType22ThresholdMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType24ThresholdMultiplier" class="control-label"></label>
                <input asp-for="ProjectZomboidConfiguration.AntiCheatProtectionType24ThresholdMultiplier" class="form-control" />
                <span asp-validation-for="ProjectZomboidConfiguration.AntiCheatProtectionType24ThresholdMultiplier" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/EnabledServers/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
