@page
@model steam_server_command_center.Pages.ProjectZomboid.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AdminPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ServerHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ServerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ConfigFileLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PVP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PauseEmpty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].GlobalChat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ChatStreams)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].Open)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ServerWelcomeMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AutoCreateUserInWhiteList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DisplayUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ShowFirstAndLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SpawnPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SafetySystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ShowSafety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SafetyToggleTimer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SafetyCooldownTimer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SpawnItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DefaultPort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].UDPPort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ResetID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].Mods)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].Map)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DoLuaChecksum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DenyLoginOnOverloadedServer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].Public)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PublicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PublicDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].MaxPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PingLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].HoursForLootRespawn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].MaxItemsForLootRespawn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ConstructionPreventsLootRespawn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DropOffWhiteListAfterDeath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].NoFire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AnnounceDeath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].MinutesPerPage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SaveWorldEveryMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PlayerSafehouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AdminSafehouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SafehouseAllowTrepass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SafehouseAllowFire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SafehouseAllowLoot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SafehouseAllowRespawn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SafehouseDaySurvivedToClaim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SafeHouseRemovalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SafehouseAllowNonResidential)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AllowDestructionBySledgehammer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SledgehammerOnlyInSafehouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].KickFastPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ServerPlayerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].RCONPort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].RCONPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DiscordEnable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DiscordToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DiscordChannel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DiscordChannelID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].MaxAccountsPerUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AllowCoop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SleepAllowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SleepNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].KnockedDownAllowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SneakModeHideFromOtherPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].WorkshopItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SteamScoreboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SteamVAC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].UPnP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].VoiceEnable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].VoiceMinDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].VoiceMaxDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].Voice3D)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].SpeedLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].LoginQueueEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].LoginQueueConnectTimeout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].server_browser_announced_ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PlayerRespawnWithSelf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PlayerRespawnWithOther)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].FastForwardMultiplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DisableSafehouseWhenPlayerConnected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].Faction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].FactionDaySurvivedToCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].FactionPlayersRequiredForTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DisableRadioStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DisableRadioAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DisableRadioGM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DisableRadioOverseer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DisableRadioModerator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].DisableRadioInvisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ClientCommandFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ClientActionLogs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PerkLogs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].ItemNumbersLimitPerContainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].BloodSplatLifespanDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AllowNonAsciiUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].BanKickGlobalSound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].RemovePlayerCorpsesOnCorpseRemoval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].TrashDeleteAll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PVPMeleeWhileHitReaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].MouseOverToSeeDisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].HidePlayersBehindYou)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PVPMeleeDamageModifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PVPFirearmDamageModifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].CarEngineAttractionModifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].PlayerBumpPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].MapRemotePlayerVisibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].BackupsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].BackupsOnStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].BackupsOnVersionChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].BackupsPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType19)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType21)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType24)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType2ThresholdMultiplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType3ThresholdMultiplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType4ThresholdMultiplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType9ThresholdMultiplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType15ThresholdMultiplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType20ThresholdMultiplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType22ThresholdMultiplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectZomboidConfiguration[0].AntiCheatProtectionType24ThresholdMultiplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProjectZomboidConfiguration) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdminPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigFileLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PVP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PauseEmpty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlobalChat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChatStreams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerWelcomeMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoCreateUserInWhiteList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowFirstAndLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpawnPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafetySystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowSafety)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafetyToggleTimer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafetyCooldownTimer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpawnItems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultPort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UDPPort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResetID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mods)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Map)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoLuaChecksum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DenyLoginOnOverloadedServer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Public)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PingLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursForLootRespawn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxItemsForLootRespawn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionPreventsLootRespawn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DropOffWhiteListAfterDeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoFire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnounceDeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinutesPerPage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaveWorldEveryMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerSafehouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminSafehouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafehouseAllowTrepass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafehouseAllowFire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafehouseAllowLoot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafehouseAllowRespawn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafehouseDaySurvivedToClaim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafeHouseRemovalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafehouseAllowNonResidential)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowDestructionBySledgehammer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SledgehammerOnlyInSafehouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KickFastPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerPlayerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RCONPort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RCONPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscordEnable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscordToken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscordChannel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscordChannelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAccountsPerUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowCoop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SleepAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SleepNeeded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KnockedDownAllowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SneakModeHideFromOtherPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkshopItems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteamScoreboard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteamVAC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UPnP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoiceEnable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoiceMinDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoiceMaxDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voice3D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeedLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginQueueEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginQueueConnectTimeout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.server_browser_announced_ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerRespawnWithSelf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerRespawnWithOther)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FastForwardMultiplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisableSafehouseWhenPlayerConnected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FactionDaySurvivedToCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FactionPlayersRequiredForTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisableRadioStaff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisableRadioAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisableRadioGM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisableRadioOverseer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisableRadioModerator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisableRadioInvisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientCommandFilter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientActionLogs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerkLogs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNumbersLimitPerContainer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodSplatLifespanDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowNonAsciiUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BanKickGlobalSound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemovePlayerCorpsesOnCorpseRemoval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrashDeleteAll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PVPMeleeWhileHitReaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MouseOverToSeeDisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HidePlayersBehindYou)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PVPMeleeDamageModifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PVPFirearmDamageModifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarEngineAttractionModifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerBumpPlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapRemotePlayerVisibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackupsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackupsOnStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackupsOnVersionChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackupsPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType2ThresholdMultiplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType3ThresholdMultiplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType4ThresholdMultiplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType9ThresholdMultiplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType15ThresholdMultiplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType20ThresholdMultiplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType22ThresholdMultiplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntiCheatProtectionType24ThresholdMultiplier)
            </td>
            <td>
                @* <a asp-page="./Edit" asp-route-id="@id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
