@page
@model steam_server_command_center.Pages.Configuration.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="alert alert-danger">
    <h5>Warning! Changing these settings could cause the application to become unstable!</h5>
</div>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfigurationItems[0].Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfigurationItems[0].Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ConfigurationItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @if (item.ID != -1)
                {
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a><text>|</text>
                    <a asp-page= "./Details" asp-route-id= "@item.ID">Details</a><text>|</text>
                    <a asp-page= "./Delete" asp-route-id= "@item.ID">Delete </a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
