@page
@model steam_server_command_center.Pages.GameServers.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GameServer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameServer.SteamAppID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameServer.SteamAppID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameServer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameServer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameServer.LogoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameServer.LogoUrl)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="GameServer.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
