@page
@model steam_server_command_center.Pages.GameServers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>GameServer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameServer.SteamAppID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameServer.SteamAppID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameServer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameServer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameServer.LogoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameServer.LogoUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.GameServer.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
